<!-- Services -->
<section class="content-section bg-primary text-white text-center" id="services">
  <div class="container">
    <div class="content-section-heading">
      <h3 class="text-secondary mb-0">Achievement</h3>
      <h2 class="mb-5">My Publication</h2>
    </div>
    <div class="row">
      <div class="col-lg-3 col-md-6 mb-5 mb-lg-0">
        <span class="service-icon rounded-circle mx-auto mb-3">
          <a href="https://www.sciencedirect.com/science/article/pii/S1877050915036157"><i class="icon-screen-smartphone"></i></a>
        </span>
        <h4>
          <strong>Surabaya</strong>
        </h4>
        <p class="text-faded mb-0">ISICO2015
          <i class="fas fa-heart"></i>
          Information Systems International Conference 2015</p>
      </div>
      <div class="col-lg-3 col-md-6 mb-5 mb-lg-0">
        <span class="service-icon rounded-circle mx-auto mb-3">
          <a href="https://aip.scitation.org/doi/abs/10.1063/1.5005369"><i class="icon-pencil"></i></a>
        </span>
        <h4>
          <strong>Langkawi</strong>
        </h4>
        <p class="text-faded mb-0">ICAST2017
          <i class="fas fa-heart"></i>
          The International Conference on Applied Science and Technology</p>
      </div>
      <div class="col-lg-3 col-md-6 mb-5 mb-md-0">
        <span class="service-icon rounded-circle mx-auto mb-3">
          <a href="https://www.sciencepubco.com/index.php/ijet/article/view/23375"><i class="icon-like"></i></a>
        </span>
        <h4>
          <strong>Kuching</strong>
        </h4>
        <p class="text-faded mb-0">ICiCSE2018
          <i class="fas fa-heart"></i>
          The 2nd International Conference on Innovations in Computer Science and Engineering </p>
      </div>
      <div class="col-lg-3 col-md-6">
        <span class="service-icon rounded-circle mx-auto mb-3">
          <a href="https://journal.utem.edu.my/index.php/jtec/article/view/2734/1792"><i class="icon-mustache"></i></a>
        </span>
        <h4>
          <strong>Selangor</strong>
        </h4>
        <p class="text-faded mb-0">AilC2020
          <i class="fas fa-heart"></i>
          Journal of Telecommunication, Electronic and Computer Engineering</p>
      </div>
    </div>
  </div>
</section>
