

<section class="gap100">
  <div class="container text-center my-auto font">

        <h2 class="section-heading mb-4">
          <span class="section-heading-upper">Hello!</span>
          <span class="section-heading-lower">This is @malajamil</span>
        </h2>
          <p class="mb-3">IT CONSULTANT/ RESEARCHER.</p>
        <a id="mail-link" class="btn btn-primary btn-xl js-scroll-trigger" href="mailto:malaeembi@gmail.com">Contact Me!</a>
      </div>
      <div class="overlay"></div>

</section>
